{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/styles/register.css'%}">
<div class="content">
<br>
<h1>TaskFlow Registration</h1>
<hr>
<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input class="button" type="submit" value="Register">
</form>
<br>
<p id="loginArea">Already have an account? &ensp; <a class="button" href="{% url 'login' %}">Login</a></p>
<br>
<hr>
<p class="footnote">
    This program has been created using Python 3.10 and Django 4.0.3. This program has been created by Bearded-Viking for educational purposes only. Any similarity to other websites or programs is purely coincidental and non-intentional.
</p>
<p class="footnote">
    Find out more: by viewing the repository <a href="https://github.com/Bearded-Viking/TaskFlow/">"https://github.com/Bearded-Viking/TaskFlow/</a>
</p>
<br>
</div>
{% endblock content %}