{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/styles/task.css'%}">
<div class="content">
    <br>
    <h4>Taskflow</h4>
    <h1>Task: {{task}}</h1>
        <h2>Description</h2>
    <p>{{task.description}}</p>
    <p>Date added: {{task.created}}</p>
    <br>
    <div id="buttonDiv">
        <a class="button" href="{% url 'task-update' task.id %}">Edit</a>
        <a class="button" href="{% url 'task-delete' task.id %}">Delete</a>
        <a class="button" href="{% url 'tasks' %}">Go Back</a>
    </div>
    <br>
    <br>
    <hr>
    <p class="footnote">
        This program has been created using Python 3.10 and Django 4.0.3. This program has been created by Bearded-Viking for educational purposes only. Any similarity to other websites or programs is purely coincidental and non-intentional.
    </p>
    <p class="footnote">
        Find out more: by viewing the repository <a href="https://github.com/Bearded-Viking/TaskFlow/">"https://github.com/Bearded-Viking/TaskFlow/</a>
    </p>
    <br>
</div>
{% endblock content %}